body{
font-family: Google Sans,arial,sans-serif;
}
input.btn {
color: rgb(233, 235, 236);  
background-color: rgb(69, 69, 71);  
}
input {
            box-shadow: rgb(69, 69, 71) 0px 8px 8px 0;
            display: block;
            border: none;
            color: rgb(93, 94, 95);
            background-color: #e0dbe0;
            transition: all 200ms ease;
            cursor: pointer;
            line-height: 22px;         
}
h1 {

    color: #202124;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px; 
    margin-bottom: 0;
    margin-top: 30px;  
}

ul {
    
    margin: 0;
    padding: 0;
}
li{
    list-style: none;
    font-weight: normal;
    color: #70757a;
    font-size: 14px;
    line-height: 16px;
    
}
li:first-letter {
    text-transform: capitalize;
}
.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;
}
.weather-app {
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 10px;
}
.overview {
    margin-bottom: 20px;
}
.weather-temperature img{
    position: relative;
    top: -15px;
    margin-right: 5px;
    height: 64px;
    width: 64px;
}
.weather-temperature strong {
    color: rgb(33, 33, 33);
    font-size: 64px;
    line-height: 1;
    font-weight: 400;
}
.weather-temperature .units {
    position: relative;
    font-size: 16px;
    top: -34px;
}
.weather-temperature .active {
    color: rgb(33, 33, 33);
    cursor: default;
}
.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: #000;
}
.weather-forecast-date {
    font-size: 16px;
    opacity: 0.5;
}
.weather-forecast-temperatures{
    font-size: 13px;
}

.weather-forecast-temperature-min{
    opacity: 0.5;
}
small {
    position: relative;
   left: 260px;
}
